<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="RU">
<head>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{main.js}" src="../static/main.js"></script>
    <script type="text/javascript" th:src="@{delete.js}" src="../static/delete.js"></script>
    <script type="text/javascript" th:src="@{create.js}" src="../static/create.js"></script>
    <script type="text/javascript" th:src="@{edit.js}" src="../static/edit.js"></script>
    <title>Users</title>
    <style>
        html, body {
            height: 100%;
        }
         .navbar-brand {
             padding-left: 10px;
         }
        nav {
            border-bottom: 1px solid #9a9797;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <div class="nav justify-content-left">
                <span class="navbar-text" id="info">
                </span>
    </div>
    <ul class="nav justify-content-end bg-dark">
        <li class="nav-item">
            <a class="nav-link" href="/logout">
                <span class="font-weight-normal text-white">Logout</span>
            </a>
        </li>
    </ul>
</nav>
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="p-0 col-2">
            <div class="nav flex-column nav-pills pt-4">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" id="adminTab"
                   href="#adminTable" data-bs-toggle="tab">Admin</a>
                <a class="nav-link" id="userTab"
                   href="#userTable" data-bs-toggle="tab">User</a>
            </div>
        </div>
        <div class="col-sm-10 bg-light h-100">
            <h1 id="title"></h1>
            <div class="tabs">
                <ul sec:authorize="hasRole('ROLE_ADMIN')" class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#adminTable" data-bs-toggle="tab">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#newUser" data-bs-toggle="tab">New user</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content border">
                <div sec:authorize="hasRole('ROLE_ADMIN')" class="tab-pane fade" id="adminTable">
                    <nav nav class="navbar navbar-light" style="background-color: #f0f0f0;">
                        <div class="navbar-brand"><h5>All users</h5></div>
                    </nav>
                    <div>
                        <table class="table table-striped" id="tableAllUsers">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="userTable">
                    <nav nav class="navbar navbar-light" style="background-color: #f0f0f0;">
                        <div class="navbar-brand"><h5 class="">About User</h5> </div>
                    </nav>
                    <div>
                        <table class="table table-striped" id="tableUser">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade bg-white" id="newUser">
                    <nav nav class="navbar navbar-light" style="background-color: #f0f0f0;">
                        <div class="navbar-brand"><h5>Add new user</h5></div>
                    </nav>
                    <div class="container-fluid p-4" style="border:  1px solid lightgray">
                        <form id="addForm">
                            <div class="container bg-white text-center" style="width:30%; height:30%;">
                                <div class="form-group">
                                    <label for="nameCreate" class="com-form-label"><b>First Name</b></label>
                                    <input type="text" class="form-control" id="nameCreate" placeholder="Имя">
                                </div>

                                <div class="form-group">
                                    <label for="lastnameCreate" class="com-form-label"><b>Last Name</b></label>
                                    <input type="text" class="form-control" id="lastnameCreate" placeholder="Фамилия">
                                </div>

                                <div class="form-group">
                                    <label for="ageCreate" class="com-form-label"><b>Age</b></label>
                                    <input type="number" class="form-control" id="ageCreate" placeholder="Возраст">
                                </div>

                                <div class="form-group">
                                    <label for="emailCreate" class="col-form-label"><b>Email</b></label>
                                    <input type="email" class="form-control username" id="emailCreate" placeholder="Email">
                                </div>

                                <div class="form-group">
                                    <label for="passwordCreate" class="com-form-label"><b>Password</b></label>
                                    <input type="password" class="form-control" id="passwordCreate" placeholder="Пароль">
                                </div>

                                <div class="form-group">
                                    <label for="rolesCreate" class="com-form-label"><b>Role</b></label>
                                    <select multiple id="rolesCreate" class="form-control select" size="2">
                                        <option value="ROLE_ADMIN">ADMIN</option>
                                        <option value="ROLE_USER" selected>USER</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <div class="p2 text-center">
                            <button class="btn btn-outline-success" id="addUser" type="submit" style="margin-top: 10px;">Add new user</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="someDefaultModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
</body>
</html>